.btns {
    width: 100px;
}

.btn_bandp {
    width: 60%;
    font-size: 40px;
    background-color: #bbbb;
    border: none;
    padding-top: 13%;
    padding-bottom: 13%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;

}

.btn_bandp:hover {
    background-color: #B9E9FF;

}

@media screen and (max-width: 430px) {
    .btn_bandp {
        font-size: 20px;
    }
}